language: cpp
dist: precise
os: linux
compiler: gcc

env:
  global:
    - CMAKE_VER=2.8.9
    - CMAKE_CACHE_DIR=~/.cmake
    - YARP_VER=2.3.68
    - YARP_CACHE_DIR=~/.yarp

cache:
  directories:
    - $CMAKE_CACHE_DIR
    - $YARP_CACHE_DIR

before_install:
  - sudo apt-get -qq update
  - sudo apt-get -y --no-install-recommends install doxygen # libcurl4-openssl-dev (already available in Travis CI environment)
  - if [ ! $(git config --get user.email) ]; then $(git config --global user.email 'user@example.com'); fi
  - if [ ! $(git config --get user.name) ]; then $(git config --global user.name 'Travis CI'); fi

install:
  # Clone and build CMake if not in cache
  - >-
    if [ ! "$(ls -A "$CMAKE_CACHE_DIR")" ] || [ ! -f "$CMAKE_CACHE_DIR/.version" ] || [ ! $(cat "$CMAKE_CACHE_DIR/.version") = "$CMAKE_VER" ]; then
      echo "CMake not in cache or wrong version"
      rm -rf "$CMAKE_CACHE_DIR"/*
      cd
      wget -qO- "https://github.com/kitware/CMake/archive/v$CMAKE_VER.tar.gz" | tar xz
      mkdir -p "CMake-$CMAKE_VER/build" && cd "$_"
      cmake .. -DBUILD_CursesDialog:BOOL=OFF -DBUILD_TESTING:BOOL=OFF -DCMAKE_USE_SYSTEM_CURL:BOOL=ON -DCMAKE_USE_OPENSSL:BOOL=ON -DCMAKE_INSTALL_PREFIX="$CMAKE_CACHE_DIR"
      make -j2 install
      echo "$CMAKE_VER" > "$CMAKE_CACHE_DIR/.version"
    else
      echo "CMake directory found in cache (version $(cat "$CMAKE_CACHE_DIR/.version"))"
    fi

  # Shadow packaged CMake
  - export PATH=$CMAKE_CACHE_DIR/bin/:$PATH
  - export CMAKE_MODULE_PATH="$(find "$CMAKE_CACHE_DIR/share" -maxdepth 1 -type d -name cmake-* | head -n 1)/Modules"
  - echo "$CMAKE_MODULE_PATH"
  - cmake -version

  # Clone and build YARP if not in cache
  - >-
    if [ ! "$(ls -A "$YARP_CACHE_DIR")" ] || [ ! -f "$YARP_CACHE_DIR/.version" ] || [ ! $(cat "$YARP_CACHE_DIR/.version") = "$YARP_VER" ]; then
      echo "YARP not in cache or wrong version"
      rm -rf "$YARP_CACHE_DIR/*"
      cd
      wget -qO- "https://github.com/robotology/yarp/archive/v$YARP_VER.tar.gz" | tar xz
      mkdir -p "yarp-$YARP_VER/build" && cd "$_"
      cmake .. -DCMAKE_INSTALL_PREFIX:PATH="$YARP_CACHE_DIR" -DSKIP_ACE:BOOL=ON
      sudo make -j2 install
      echo "$YARP_VER" > "$YARP_CACHE_DIR/.version"
    else
      echo "YARP directory found in cache (version $(cat "$YARP_CACHE_DIR/.version"))"
    fi

  # Make installed YARP discoverable by CMake's find_package() command
  - export YARP_DIR=$YARP_CACHE_DIR/lib/YARP

before_script:
  - cd $TRAVIS_BUILD_DIR
  - ./project-generator.sh < test_program_answers.txt
  - cd $(tail -n 1 test_program_answers.txt)

script:
  - scripts/package/make_package.sh
